<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{title}}!
    </h1>
</div>
<div class="panel panel-default col-xs-3" *ngFor="let list of localVar">
     <div class="panel-body">
        <table class="table table-striped  table-bordered">
            <tr>
                <td>Id:</td>
                <td>{{list.id}}</td>
            </tr>
            <tr>
                <td>Name:</td>
                <td>{{list.name}}</td>
            </tr>
            <tr>
                <td>UserName:</td>
                <td>{{list.username}}</td>
            </tr>
            <tr>
                <td>Company:</td>
                <td>{{list.company.name}}</td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td>{{list.phone}}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{list.email}}</td>
            </tr>
            <tr>
                <td colspan="2" class="center"> 
                    {{list.id}}
                    <input type="button" value="View todo" class="btn btn-primary" (click)="viewTodo('todo')"/>      
                </td>
            </tr>
        </table>
    </div>
</div>
<div>
    <router-outlet></router-outlet>
</div>
